[submodule "React-Store_App"]
	path = React-Store_App
	url = https://github.com/gauravk268/ReactJS-Store_App
[submodule "ReactJS-Todo_App"]
	path = ReactJS-Todo_App
	url = https://github.com/gauravk268/ReactJS-Todo_App
[submodule "ReactJS-Firebase_Auth_App"]
	path = ReactJS-Firebase_Auth_App
	url = https://github.com/gauravk268/ReactJS-Firebase_Auth_App
[submodule "Hack36_CodeBrigade"]
	path = Hack36_CodeBrigade
	url = https://github.com/gauravk268/Hack36_CodeBrigade.git
[submodule "ReactJS-Portfolio_App"]
	path = ReactJS-Portfolio_App
	url = https://github.com/gauravk268/ReactJS-Portfolio_App.git
