[submodule "React-Store-App"]
	path = React-Store-App
	url = https://github.com/gauravk268/React-Store-App
[submodule "React-Todo-App"]
	path = React-Todo-App
	url = https://github.com/gauravk268/React-Todo-App
[submodule "React-Firebase-Auth-App"]
	path = React-Firebase-Auth-App
	url = https://github.com/gauravk268/React-Firebase-Auth-App
[submodule "Hack36_CodeBrigade"]
	path = Hack36_CodeBrigade
	url = https://github.com/gauravk268/Hack36_CodeBrigade.git
